body{
    background-image: url("https://dwstroy.ru/lessons/les3697/demo/img/escheresque_ste.png");
    font-family: Verdana;
   }

.menu{
    background-color: white;
    margin-top: 100px;
    width: 100%;
   }

ul.ul{
    display: flex;
    padding: 0;
    justify-content: center;
   }

li.li{
    list-style: none;
    padding: 10px;
   }

li.li a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    position: relative;
    padding: 5px;
   }

li.li a i{
    margin-right: 10px;
   }

li.li a::before{
    content: '';
    width: 0;
    height: 3px;
    background-color: #33bdf1;
    position: absolute;
    top: 90%;
    left: 0;
    transition: .5s;
    mix-blend-mode: multiply;
   }

li.li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff2117;
    position: absolute;
    top: 90%;
    right: 0;
    transition: .5s;
    mix-blend-mode: multiply;
   }

li.li:hover{
    background-color: #e5eae8;
   }

li.li:hover a::before{
    width: 50%;
    transform: translateX(100%);
   }

li.li:hover a::after{
    width: 50%;
    transform: translateX(-100%);
   }

li.li a:hover{
    color: #e62117;
   }